<html>
    <head>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="sons-of-obsidian.css"></link>
        <link rel="stylesheet" href="style.css"></link>
        <title>ES2015 tutorials</title>
    </head>
    <body>
        <div>
            <div id="header">
                <span>ES2015 tutorials</span>
                <select id="selector">
                    <option value="__all__">all</option>
                    <option>---------------------</option>
                    {{#tutorials}}
                    <option value="{{name}}">{{name}}</option>
                    {{/tutorials}}
                </select>
            </div>
            <div id="content">
                {{#tutorials}}
                <div class="tutorial" id="{{name}}">
                    <div class="tutorial-header"><h2>{{name}}</h2></div>
                    <div class="es2015">
                        <h3>ES2015 source code</h3>
                        {{#sources}}
                        <div class="source">
                            <div class="source-title"><h3>{{name}}</h3></div>
                            <div class="sourcecode">
                                <pre class="prettyprint lang-js linenums">{{content}}</pre>
                            </div>
                        </div>
                        {{/sources}}
                    </div>
                    <div class="generated-source">
                        <h3>Generated source code</h3>
                        <div class="source">
                            <div class="source-title"><h3>{{transpiledSource.name}}</h3></div>
                            <div class="sourcecoude">
                                <pre class="prettyprint lang-js linenums">{{transpiledSource.content}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                {{/tutorials}}
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>


